section.col-md-9.card-wrapper.pull-right
  .card.background-card
    h4.text-uppercase Background
    hr

    .background-details
      -var index = 0
      each val in resume
        if resume.order.basics === index
          include background/basics.pug
        if resume.order.work === index
          include background/work.pug
        if resume.order.skills === index
          include background/skills.pug
        if resume.order.education === index
          include background/education.pug
        if resume.order.awards === index
          include background/awards.pug
        if resume.order.volunteer === index
          include background/volunteer.pug
        if resume.order.publications === index
          include background/publications.pug
        if resume.order.interests === index
          include background/interests.pug
        if resume.order.references === index
          include background/references.pug
        -index++
